<div id="<%= dom_id model_keyword %>">
  <p>
    <strong>Model:</strong>
    <%= model_keyword.model_id %>
  </p>

  <p>
    <strong>Keyword:</strong>
    <%= model_keyword.keyword_id %>
  </p>

</div>
