<% content_for :title, "Editing model keyword" %>

<h1>Editing model keyword</h1>

<%= render "form", model_keyword: @model_keyword %>

<br>

<div>
  <%= link_to "Show this model keyword", @model_keyword %> |
  <%= link_to "Back to model keywords", model_keywords_path %>
</div>
