<% content_for :title, "New model keyword" %>

<h1>New model keyword</h1>

<%= render "form", model_keyword: @model_keyword %>

<br>

<div>
  <%= link_to "Back to model keywords", model_keywords_path %>
</div>
