<% content_for :title, "Editing excluded strategem keyword" %>

<h1>Editing excluded strategem keyword</h1>

<%= render "form", excluded_strategem_keyword: @excluded_strategem_keyword %>

<br>

<div>
  <%= link_to "Show this excluded strategem keyword", @excluded_strategem_keyword %> |
  <%= link_to "Back to excluded strategem keywords", excluded_strategem_keywords_path %>
</div>
