<% content_for :title, "New excluded strategem keyword" %>

<h1>New excluded strategem keyword</h1>

<%= render "form", excluded_strategem_keyword: @excluded_strategem_keyword %>

<br>

<div>
  <%= link_to "Back to excluded strategem keywords", excluded_strategem_keywords_path %>
</div>
