<div id="<%= dom_id friend %>">
  <p>
    <strong>Friend one:</strong>
    <%= friend.friend_one_id %>
  </p>

  <p>
    <strong>Friend two:</strong>
    <%= friend.friend_two_id %>
  </p>

  <p>
    <strong>Pending:</strong>
    <%= friend.pending %>
  </p>

</div>
