<% content_for :title, "Editing wargear option" %>

<h1>Editing wargear option</h1>

<%= render "form", wargear_option: @wargear_option %>

<br>

<div>
  <%= link_to "Show this wargear option", @wargear_option %> |
  <%= link_to "Back to wargear options", wargear_options_path %>
</div>
