<% content_for :title, "New mission rule" %>

<h1>New mission rule</h1>

<%= render "form", mission_rule: @mission_rule %>

<br>

<div>
  <%= link_to "Back to mission rules", mission_rules_path %>
</div>
