<div id="<%= dom_id available_strategem %>">
  <p>
    <strong>Model:</strong>
    <%= available_strategem.model_id %>
  </p>

  <p>
    <strong>Strategem:</strong>
    <%= available_strategem.strategem_id %>
  </p>

</div>
