<% content_for :title, "Editing available strategem" %>

<h1>Editing available strategem</h1>

<%= render "form", available_strategem: @available_strategem %>

<br>

<div>
  <%= link_to "Show this available strategem", @available_strategem %> |
  <%= link_to "Back to available strategems", available_strategems_path %>
</div>
