<% content_for :title, "New available strategem" %>

<h1>New available strategem</h1>

<%= render "form", available_strategem: @available_strategem %>

<br>

<div>
  <%= link_to "Back to available strategems", available_strategems_path %>
</div>
