<% content_for :title, "Editing model weapon" %>

<h1>Editing model weapon</h1>

<%= render "form", model_weapon: @model_weapon %>

<br>

<div>
  <%= link_to "Show this model weapon", @model_weapon %> |
  <%= link_to "Back to model weapons", model_weapons_path %>
</div>
