<% content_for :title, "New model weapon" %>

<h1>New model weapon</h1>

<%= render "form", model_weapon: @model_weapon %>

<br>

<div>
  <%= link_to "Back to model weapons", model_weapons_path %>
</div>
