<div id="<%= dom_id strategem_keyword %>">
  <p>
    <strong>Strategem:</strong>
    <%= strategem_keyword.strategem_id %>
  </p>

  <p>
    <strong>Keyword:</strong>
    <%= strategem_keyword.keyword_id %>
  </p>

</div>
