<% content_for :title, "Editing strategem keyword" %>

<h1>Editing strategem keyword</h1>

<%= render "form", strategem_keyword: @strategem_keyword %>

<br>

<div>
  <%= link_to "Show this strategem keyword", @strategem_keyword %> |
  <%= link_to "Back to strategem keywords", strategem_keywords_path %>
</div>
