<% content_for :title, "New strategem keyword" %>

<h1>New strategem keyword</h1>

<%= render "form", strategem_keyword: @strategem_keyword %>

<br>

<div>
  <%= link_to "Back to strategem keywords", strategem_keywords_path %>
</div>
