<div id="<%= dom_id weapon_ability %>">
  <p>
    <strong>Weapon:</strong>
    <%= weapon_ability.weapon_id %>
  </p>

  <p>
    <strong>Ability:</strong>
    <%= weapon_ability.ability_id %>
  </p>

</div>
