<% content_for :title, "New weapon ability" %>

<h1>New weapon ability</h1>

<%= render "form", weapon_ability: @weapon_ability %>

<br>

<div>
  <%= link_to "Back to weapon abilities", weapon_abilities_path %>
</div>
