<div id="<%= dom_id army %>">
  <p>
    <strong>Name:</strong>
    <%= army.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= army.description %>
  </p>

  <p>
    <strong>Ability:</strong>
    <%= army.ability %>
  </p>

</div>
