<div id="<%= dom_id detachment %>">
  <p>
    <strong>Name:</strong>
    <%= detachment.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= detachment.description %>
  </p>

  <p>
    <strong>Army:</strong>
    <%= detachment.army_id %>
  </p>

</div>
