<div id="<%= dom_id enhancement_keyword %>">
  <p>
    <strong>Enhancement:</strong>
    <%= enhancement_keyword.enhancement_id %>
  </p>

  <p>
    <strong>Keyword:</strong>
    <%= enhancement_keyword.keyword_id %>
  </p>

</div>
