<p style="color: green"><%= notice %></p>

<% content_for :title, "Enhancement keywords" %>

<h1>Enhancement keywords</h1>

<div id="enhancement_keywords">
  <% @enhancement_keywords.each do |enhancement_keyword| %>
    <%= render enhancement_keyword %>
    <p>
      <%= link_to "Show this enhancement keyword", enhancement_keyword %>
    </p>
  <% end %>
</div>

<%= link_to "New enhancement keyword", new_enhancement_keyword_path %>
