<div id="<%= dom_id games_secondary_objective %>">
  <p>
    <strong>Game:</strong>
    <%= games_secondary_objective.game_id %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= games_secondary_objective.player_id %>
  </p>

  <p>
    <strong>Secondary objective:</strong>
    <%= games_secondary_objective.secondary_objective_id %>
  </p>

</div>
