<% content_for :title, "Editing games secondary objective" %>

<h1>Editing games secondary objective</h1>

<%= render "form", games_secondary_objective: @games_secondary_objective %>

<br>

<div>
  <%= link_to "Show this games secondary objective", @games_secondary_objective %> |
  <%= link_to "Back to games secondary objectives", games_secondary_objectives_path %>
</div>
