<% content_for :title, "New games secondary objective" %>

<h1>New games secondary objective</h1>

<%= render "form", games_secondary_objective: @games_secondary_objective %>

<br>

<div>
  <%= link_to "Back to games secondary objectives", games_secondary_objectives_path %>
</div>
