<% content_for :title, "New terrain layout" %>

<h1>New terrain layout</h1>

<%= render "form", terrain_layout: @terrain_layout %>

<br>

<div>
  <%= link_to "Back to terrain layouts", terrain_layouts_path %>
</div>
